/node_modules/
/docs/node_modules/
/lib/
/test/
/.idea
/dist
/docs
custom-elements.json

# top level source
dev/**/*.js
dev/**/*.js.map
dev/**/*.d.ts
dev/**/*.d.ts.map

# only generated for size check
my-element.bundled.js
*.zip
.DS_Store